@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Roboto+Mono:wght@300;400;500&display=swap");
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text-light);
}

a:visited {
  color: var(--text-light);
}

a:hover {
  color: var(--primary-blue);
  transition: 0.3s ease;
}

a:active {
  color: var(--primary-blue);
}
