.navbar {
  /* border: 1px solid red; */
  width: 1100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #0c1021;
  padding: 0 120px;
  border-top: 2px solid rgba(255, 255, 255, 0.06);
}
.logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  color: white;
  font-family: var(--font-heading);
  margin-left: 100px;
}

button {
  display: flex;
  height: 17px;
  width: 17px;
  margin-right: 15px;
  background: var(--primary-blue);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-links {
  gap: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 200px;
}
.contact-button {
  border: 1px solid #131aec;
  background-color: var(--primary-blue);
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.nav-links li {
  display: flex;
  font-size: 16px;
  color: white;
  cursor: pointer;
  font-family: var(--font-body);
  list-style-type: none;
}

/* .contact-btn {
  border: 1px solid blanchedalmond;
  background: var(--primary-blue);
  padding: 10px 24px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: var(--font-heading);
  margin-right: 200px;
} */
