body {
  background-color: var(--bg-dark);
  color: var(--text-light);
  margin: 0;
  font-family: var(--font-body);
}
section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero {
  /* border: 1px solid palegreen; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 80px;
  /* gap: 80px; */
  max-width: 1300px;
  margin-top: 0 auto;
}
.hero-left {
  flex: 1;
  /* padding-left: 20px; */
  margin-left: 50px;
}

.hero-left h1 {
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.05;
  font-family: var(--font-heading);
  font-size: 56px;
}

.hero-left p {
  font-family: var(--font-body);
  font-size: 17px;
  color: var(--text-muted);
  /* max-width: 480px; */
  line-height: 1.6;
  /* margin-bottom: 30px; */
}

.hero-btn {
  /* border: 1px solid palegreen; */
  display: flex;
  gap: 5px;
}

.hero-btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  height: 35px;
  width: 120px;
  background-color: var(--primary-blue);
  color: white;
  border-radius: 8px;
  /* padding: 10px; */
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-heading);
  border: none;
  /* margin-right: 7px; */
  cursor: pointer;
}

.btn-icon {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  background-color: #35384a;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-icon img {
  width: 20px;
  height: 20px;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.hero-img {
  margin-right: 50px;
  margin-top: 0;
  width: 390px;
  height: 390px;
  border-radius: 50%;
  /* background-color: white; */
  outline: none;
  overflow: hidden;
  background: white;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
